.App {
  text-align: center;
  background-color: rgb(157, 250, 219);
  padding: 1rem;
  font-family: Proxima Nova;
  font-size: larger;
}

button.primary,
input.amountBySubmit {
  background: #443938;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 2.5rem;
  padding: 1.25rem 2.125rem;
  margin: 0rem 0.5rem 0.5rem 0.5rem;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  color: #f6f5f5;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

button.primary:hover,
input.amountBySubmit {
  transform: scale(1.1);
}

input.amountByName {
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 12.5rem;
  padding: 1.25rem 2.125rem;
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  letter-spacing: 0.05rem;
  font-size: 1rem;
}

.subHeadline {
  display: inline-block;
  background: #978482;
  border-radius: 1.1rem;
  padding: 1rem 2.125rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
